*{
  font-family: 'poppins', 'sans-serif';
  box-sizing: border-box;
}
body {
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.699);
  margin: 0;
  margin: 0;
  padding: 0;
  color: white;
  margin-top: 10px;
  margin-left: 20px;
}
.App{
  justify-content: center;
  align-items: center;
  max-width: 500px;
  border: 2px solid rgb(219, 4, 4);
  width: 500px;
}
form input{
  background-color: rgb(4, 131, 211);
  color: white;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid skyblue;
  outline: none;
  border-radius: 5px;
  padding: 3px;
  font-size: 15px;
}
form label{
  font-weight: bold;
  font-size: 18px;
}
form .btn{
  background-color:  rgba(4, 132, 211, 0.212) ;
  color: white;
  width: 100%;
  border: 1px solid skyblue;
  outline: none;
  border-radius: 5px;
}
form .btn:hover{
  background-color: rgba(135, 207, 235, 0.5);
}
.list label{
 margin-right: 30px;
}
.list li{
  list-style: none;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list li input{
  border-radius: 5px;
}
.list li .btn-danger{
  border: 1px solid red;
  background-color: transparent;
  color:white;
  border-radius: 5px;
}
.list li .btn-danger:hover{
  background-color: red;
}
